* {
  cursor: url("../img/cursor.svg"), auto;
}

body {
  background: #000;
  overflow: hidden;
}


@keyframes runner {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(50px);
  }
  0% {
    opacity: 100%;
  }
  15% {
    opacity: 10%;
  }
  30% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.main__section__1 {
  width: 27vw;
  height: 25vh;

  background: #000;

  margin-top: 0.2vw;
  margin-left: 0vw;

  border-style: solid;
  border-color: #BE00FF;
  border-width: 0.25em;
  border-radius: 10%;


}


.main__section__1 h1{
  font-family: "PT Mono", monospace;
  font-size: 2em;
  text-transform: uppercase;
  color: #00E3FF;
  margin-top: 0.5em;
  margin-left: 0.5em;

}

.main__section__1 p{
  font-family: "PT Mono", monospace;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  margin-left: 1.5em;

}

.span {
  animation: blink 1s step-end infinite;
}


/* секция 2 */

.main__section__2 {
  position: absolute;
  left: 0px;
  top: 40vh;
}

.main__section__2 div {
  display: flex;
  flex-direction: row;
}

.main__section__2__div__p {
  color: #fff;
  font-size: 2em;
  font-family: "PT Mono", monospace;

  padding-left: 0.5em;
}

.main__section__2__div__img {
  position: absolute;
  bottom: -5px;
  left: 21px;
  padding: 1vw;
}


/* секция 3 */
.main__section__3 {
  position: absolute;
  bottom: -37px;
  right: -21px;

  padding: 2vw;
}

.main__section__3 div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1vw;
}

.main__section__3__img {
  transform: translateY(2vw);
}

.main__section__3 div img {
  padding: 1vw;
}


/* 4 секция  */

.main__section__4 {
  position: absolute;
  right: 0px;
  bottom: 25vh;

  padding: 2vw;

  display: flex;
  align-items: flex-end;
}

.main__section__4__img1 {
  position: relative;
  padding: 0.3vw;
}

.main__section__4__h1,
.main__section__4__h3,
.main__section__4__h2 {
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-family: "PT Mono", monospace;
  text-transform: uppercase;

  margin-bottom: -0.1em;
}

.main__section__4__div {
  display: flex;
  flex-direction: column-reverse;
}


/* alice */

.main__alice {
  position: absolute;
  top: 0px;
  right: 0px;

  border-style: solid;
  border-color: #7000FF;
  border-width: 0.25em;
  border-radius: 0 0 2vw 2vw;
}

.main__alice p {
  font-family: "PT Mono", monospace;
  font-size: 2em;
  text-transform: uppercase;

  margin: 0.5em 0;
  padding: 0 1em;

  color: #fff;
;

}

.main__section__5 {
  position: absolute;
  top: 0px;
  right: 40vw;

  display: flex;
  justify-content: center;
}

.main__section__5__img__1,
.main__section__5__img__2 {
  position: absolute;
  top: 0px;
}

.main__section__5__div__img {
  border-style: solid;
  border-color: cyan;
  border-width: 0.2em;
  border-radius: 1vw 1vw;

  display: flex;
  flex-direction: column;

  margin: 3vh;
  position: absolute;
  top: 0px;
  left: -12vw;
}

.main__section__5__div__img img{
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.main__section__5__div__img img:first-child{
  padding-top: 3.3em;
}

.main__section__5__div__img img:last-child{
  padding-bottom: 0.8em;
}

.blink {
  animation: blink 1.5s infinite;
}



/* колеса */

.wheel {
  display: flex;
  justify-content: center;
}

.wheel img {
  position: absolute;
  z-index: -1;
  bottom: -100%;
}


/* бегунок */

.run__1 {
  position: absolute;
  z-index: -1;
  top: 10vh;
  left: 30vw;
  animation: runner 2s linear infinite
}
.run__2 {
  position: absolute;
  z-index: -1;
  top: 50vh;
  left: 45vw;
  animation: runner 3s linear infinite
}
.run__3 {
  position: absolute;
  z-index: -1;
  top: 70vh;
  left: 78vw;
  animation: runner 2s linear infinite
}
.run__4 {
  position: absolute;
  z-index: -1;
  top: 70vh;
  left: 37vw;
  animation: runner 3s linear infinite
}
.run__5 {
  position: absolute;
  z-index: -1;
  top: 34vh;
  left: 50vw;
  animation: runner 2s linear infinite
}
.run__6 {
  position: absolute;
  z-index: -1;
  top: 78vh;
  left: 9vw;
  animation: runner 3s linear infinite
}
.run__7 {
  position: absolute;
  z-index: -1;
  top: 47vh;
  left: 97vw;
  animation: runner 2s linear infinite
}
.run__8 {
  position: absolute;
  z-index: -1;
  top: 47vh;
  left: 19vw;
  animation: runner 2s linear infinite
}
.run__9 {
  position: absolute;
  z-index: -1;
  top: 24vh;
  left: 10vw;
  animation: runner 2s linear infinite
}
.run__0 {
  position: absolute;
  z-index: -1;
  top: 15vh;
  left: 90vw;
  animation: runner 2s linear infinite
}

.info {
  position: absolute;
  top: 27vh;
  left: 3vw;
}
